
<div class="rel">
    <div id="headertop" class="center bgblack fillw abs lightgrey">

        <a href="/" class=" ismobile nounderline"><img src="/assets/images/portrait.jpg" class="circle content-width5 mart" id=""></a>

        <div class="content-width content-center rel">

            <table class="noborder ">
                <tbody>
                    <tr>
                        <td id="" class=" isdesktop content-width5">
                            <a href="/" class="nounderline"><img src="/assets/images/portrait.jpg" class="circle" id=""></a>
                        </td>
                        <td>
                            I'm Conor Patrick.  I wrote a <a target="_blank" href="{% post_url 2015-09-05-proxying-bluetooth-devices-for-security-analysis-using-btproxy %}">
                                proxy for analyzing Bluetooth devices</a>.  
                            I enjoy <a target="_blank" href="{% post_url 2015-10-11-a-close-look-at-an-operating-botnet %}">researching computer security </a> in my space time.
                            I'm a former intern at the FTC in the Office of Technology Research and Investigation.  I'm currently working on my thesis for graduate school at 
                            <a target="_blank" href="{% post_url 2015-08-25-class-prerequisite-graphs-for-vt %}">VT</a> in 
                            <a target="_blank" href="{% post_url 2015-12-16-how-to-accelerate-a--program-with-hardware %}">hardware and software</a> security.
                            Follow me on <a target="_blank" href="https://twitter.com/_conorpp">Twitter</a>.
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
