
<div class="rel">
    <div id="headertop" class="center bgblack fillw abs lightgrey">

        <a href="/" class=" ismobile nounderline"><img src="/assets/images/portrait.jpg" class="circle limit150 mart" ></a>

        <div class="content-width content-center rel">

            <table class="noborder regular">
                <tbody>
                    <tr>
                        <td  class=" isdesktop limit150">
                            <a href="/" class="nounderline"><img src="/assets/images/portrait.jpg" class="simg circle" ></a>
                        </td>
                        <td class="fs-med">
                            I'm Conor Patrick.  I made <a target="_blank" href="/designing-and-producing-2fa-tokens-to-sell-on-amazon">U2F Zero</a> which is currently on <a target="_blank" href="https://www.amazon.com/U2F-Zero/dp/B01L9DUPK6">Amazon</a>.
                            I write to share what I've learned and to get feedback.
                            Anyone can reach out to me by <a href="/">commenting</a>,
                            <a target="_blank" href="https://twitter.com/_conorpp">tweeting</a>, or emailing.
                            In my last project,
                            <a target="_blank" href="{{site.lastlink}}">{{site.lastthing}}</a>
                            You can subscribe <a target="_blank" href="http://eepurl.com/cUIGJD">here</a>.
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
