
<div class="rel">
    <div id="headertop" class="center bgblack fillw abs lightgrey">

        <a href="/" class=" ismobile nounderline"><img src="/assets/images/portrait.jpg" class="circle limit150 mart" ></a>

        <div class="content-width content-center rel">

            <table class="noborder regular">
                <tbody>
                    <tr>
                        <td  class=" isdesktop limit150">
                            <a href="/" class="nounderline"><img src="/assets/images/portrait.jpg" class="simg circle" ></a>
                        </td>
                        <td class="fs-med">
                            I'm Conor Patrick.
                            Former FTC security research intern.  I support <a href="https://github.com/conorpp">open source development</a>.
                            <a href="/publications">I do research</a>
                            for <a href="http://www.faculty.ece.vt.edu/schaum/research.html">Secure Embedded Systems at Virginia Tech</a>.
                            <a href="http://photosby.conorpp.com" target="_blank">I'm into photography</a>.
                            <b>I'm currently <a href="/work">looking for work in the government</a></b>.
                            You can follow me on <a target="_blank" href="https://twitter.com/_conorpp">Twitter</a>.
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
