<!DOCTYPE html>
<html>
<head>
	<link href="http://gmpg.org/xfn/11" rel="profile">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link rel="canonical" href="//blog/class-prerequisite-graphs-for-vt" />
	<meta name="description" content="{% include JB/setup %} Here are the class prerequisite graphs for all of the departments at Virginia Tech (Fall 2015)...." />
	<meta property="og:description" content="{% include JB/setup %} Here are the class prerequisite graphs for all of the departments at Virginia Tech (Fall 2015)...." />
	<meta itemprop="image" content="//assets/images/vtgraphs/ECE.jpg" />
	<meta property="og:image" content="//assets/images/vtgraphs/ECE.jpg" />
	<meta property="og:title" content="Class Prerequisite Graphs for VT" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="//blog/class-prerequisite-graphs-for-vt" />
	<meta property="og:site_name" content="Conor Patrick" />
	<title>Class Prerequisite Graphs for VT &middot; Conor Patrick</title>
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" media="only screen and (min-width: 1001px)" href="/assets/css/desktop.css" />
	<link rel="stylesheet" type="text/css" media="only screen and (max-width: 1000px)" href="/assets/css/mobile.css" />
	<link href="/assets/css/genericons.css" type="text/css" rel="stylesheet" />
	<link href="/assets/css/syntax.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="/assets/css/fonts.css">
	<link rel="apple-touch-icon" href="/favicon.ico">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="alternate" type="application/rss+xml" title="RSS" href="//atom.xml">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43448699-5', 'auto');
    ga('send', 'pageview');
</script> 
</head>

<body>
	<header class="clean" style="background-image: url(/assets/images/vtgraphs/ECE.jpg);height: 100%;">
	
	    <a href="/" style="position:fixed; z-index:1;">
        <span class="genericon genericon-standard" style="font-size:3em; background-color:rgba(0,0,0,0.68); width:1em; height:1em; "></span>
    </a>
<div class="social-links">
	
	<a href="https://twitter.com/_conorpp" target="_blank" title="Follow me on twitter"><span class="genericon genericon-twitter"></span></a>
	
	<a href="https://github.com/conorpp" target="_blank" title="Fork me on github"><span class="genericon genericon-github"></span></a>
	
	<a href="https://plus.google.com/+ConorPatrickpp/" target="_blank" title="Add me on google+"><span class="genericon genericon-googleplus-alt"></span></a>
	
	<a href="/atom.xml" target="_blank" title="Subscribe to my feed"><span class="genericon genericon-feed"></span></a>
	
	<a href="/assets/gpgkey.txt" target="_blank" title="GPG Key"><span class="genericon genericon-key"></span></a>
	
	<a href="http://devpost.com/conorpp94" target="_blank" title="Hackathon Projects"><span class="genericon genericon-portfolio"></span></a>
	
</div>

	<div id="post-info">
		<h1>Class Prerequisite Graphs for VT</h1>
		
		<a class="site-title" href="/"><img src="/assets/images/profile.jpg" class="site-icon-small">Conor Patrick</a>, in 25 August 2015
	</div>
	<div id="nav-icon" style="bottom: 60px;">
		<a class="scroll" data-speed="1000" href="#article"><span class="genericon genericon-expand"></span></a>
	</div>
</header>
<div id="article">
	<p>Here are the class prerequisite graphs for all of the departments at Virginia Tech (Fall 2015).
Sorry for those that are bandwidth impaired.
It was made by scraping this <a href="https://banweb.banner.vt.edu/ssb/prod/HZSKVTSC.P_DispRequest">page</a>
and passing the results to a graph function in Wolfram Language.  <a href="https://github.com/conorpp/VT-Prereq-Tree-Generator/blob/master/source.m">Source code</a> (sorry it&#39;s messy).</p>

<p>I&#39;m missing ENGL, STAT, and ISE.</p>

<h3>AAEC</h3>

<p><img src="/assets/images/vtgraphs/AAEC.jpg" alt="AAEC"></p>

<h3>ACIS</h3>

<p><img src="/assets/images/vtgraphs/ACIS.jpg" alt="ACIS"></p>

<h3>AFST</h3>

<p><img src="/assets/images/vtgraphs/AFST.jpg" alt="AFST"></p>

<h3>AHRM</h3>

<p><img src="/assets/images/vtgraphs/AHRM.jpg" alt="AHRM"></p>

<h3>AINS</h3>

<p><img src="/assets/images/vtgraphs/AINS.jpg" alt="AINS"></p>

<h3>ALCE</h3>

<p><img src="/assets/images/vtgraphs/ALCE.jpg" alt="ALCE"></p>

<h3>ALS</h3>

<p><img src="/assets/images/vtgraphs/ALS.jpg" alt="ALS"></p>

<h3>AOE</h3>

<p><img src="/assets/images/vtgraphs/AOE.jpg" alt="AOE"></p>

<h3>APSC</h3>

<p><img src="/assets/images/vtgraphs/APSC.jpg" alt="APSC"></p>

<h3>APS</h3>

<p><img src="/assets/images/vtgraphs/APS.jpg" alt="APS"></p>

<h3>ARBC</h3>

<p><img src="/assets/images/vtgraphs/ARBC.jpg" alt="ARBC"></p>

<h3>ARCH</h3>

<p><img src="/assets/images/vtgraphs/ARCH.jpg" alt="ARCH"></p>

<h3>ART</h3>

<p><img src="/assets/images/vtgraphs/ART.jpg" alt="ART"></p>

<h3>AS</h3>

<p><img src="/assets/images/vtgraphs/AS.jpg" alt="AS"></p>

<h3>ASPT</h3>

<p><img src="/assets/images/vtgraphs/ASPT.jpg" alt="ASPT"></p>

<h3>AT</h3>

<p><img src="/assets/images/vtgraphs/AT.jpg" alt="AT"></p>

<h3>BCHM</h3>

<p><img src="/assets/images/vtgraphs/BCHM.jpg" alt="BCHM"></p>

<h3>BC</h3>

<p><img src="/assets/images/vtgraphs/BC.jpg" alt="BC"></p>

<h3>BIOL</h3>

<p><img src="/assets/images/vtgraphs/BIOL.jpg" alt="BIOL"></p>

<h3>BIT</h3>

<p><img src="/assets/images/vtgraphs/BIT.jpg" alt="BIT"></p>

<h3>BMES</h3>

<p><img src="/assets/images/vtgraphs/BMES.jpg" alt="BMES"></p>

<h3>BMSP</h3>

<p><img src="/assets/images/vtgraphs/BMSP.jpg" alt="BMSP"></p>

<h3>BMVS</h3>

<p><img src="/assets/images/vtgraphs/BMVS.jpg" alt="BMVS"></p>

<h3>BSE</h3>

<p><img src="/assets/images/vtgraphs/BSE.jpg" alt="BSE"></p>

<h3>BTDM</h3>

<p><img src="/assets/images/vtgraphs/BTDM.jpg" alt="BTDM"></p>

<h3>BUS</h3>

<p><img src="/assets/images/vtgraphs/BUS.jpg" alt="BUS"></p>

<h3>CEE</h3>

<p><img src="/assets/images/vtgraphs/CEE.jpg" alt="CEE"></p>

<h3>CHE</h3>

<p><img src="/assets/images/vtgraphs/CHE.jpg" alt="CHE"></p>

<h3>CHEM</h3>

<p><img src="/assets/images/vtgraphs/CHEM.jpg" alt="CHEM"></p>

<h3>CHN</h3>

<p><img src="/assets/images/vtgraphs/CHN.jpg" alt="CHN"></p>

<h3>CINE</h3>

<p><img src="/assets/images/vtgraphs/CINE.jpg" alt="CINE"></p>

<h3>CLA</h3>

<p><img src="/assets/images/vtgraphs/CLA.jpg" alt="CLA"></p>

<h3>CMDA</h3>

<p><img src="/assets/images/vtgraphs/CMDA.jpg" alt="CMDA"></p>

<h3>CNST</h3>

<p><img src="/assets/images/vtgraphs/CNST.jpg" alt="CNST"></p>

<h3>COMM</h3>

<p><img src="/assets/images/vtgraphs/COMM.jpg" alt="COMM"></p>

<h3>COS</h3>

<p><img src="/assets/images/vtgraphs/COS.jpg" alt="COS"></p>

<h3>CRIM</h3>

<p><img src="/assets/images/vtgraphs/CRIM.jpg" alt="CRIM"></p>

<h3>CSES</h3>

<p><img src="/assets/images/vtgraphs/CSES.jpg" alt="CSES"></p>

<h3>CS</h3>

<p><img src="/assets/images/vtgraphs/CS.jpg" alt="CS"></p>

<h3>DASC</h3>

<p><img src="/assets/images/vtgraphs/DASC.jpg" alt="DASC"></p>

<h3>ECE</h3>

<p><img src="/assets/images/vtgraphs/ECE.jpg" alt="ECE"></p>

<h3>ECON</h3>

<p><img src="/assets/images/vtgraphs/ECON.jpg" alt="ECON"></p>

<h3>EDCI</h3>

<p><img src="/assets/images/vtgraphs/EDCI.jpg" alt="EDCI"></p>

<h3>EDCO</h3>

<p><img src="/assets/images/vtgraphs/EDCO.jpg" alt="EDCO"></p>

<h3>EDCT</h3>

<p><img src="/assets/images/vtgraphs/EDCT.jpg" alt="EDCT"></p>

<h3>EDEL</h3>

<p><img src="/assets/images/vtgraphs/EDEL.jpg" alt="EDEL"></p>

<h3>EDEP</h3>

<p><img src="/assets/images/vtgraphs/EDEP.jpg" alt="EDEP"></p>

<h3>EDHE</h3>

<p><img src="/assets/images/vtgraphs/EDHE.jpg" alt="EDHE"></p>

<h3>EDIT</h3>

<p><img src="/assets/images/vtgraphs/EDIT.jpg" alt="EDIT"></p>

<h3>EDP</h3>

<p><img src="/assets/images/vtgraphs/EDP.jpg" alt="EDP"></p>

<h3>EDRE</h3>

<p><img src="/assets/images/vtgraphs/EDRE.jpg" alt="EDRE"></p>

<h3>EDTE</h3>

<p><img src="/assets/images/vtgraphs/EDTE.jpg" alt="EDTE"></p>

<h3>ENGE</h3>

<p><img src="/assets/images/vtgraphs/ENGE.jpg" alt="ENGE"></p>

<h3>ENGR</h3>

<p><img src="/assets/images/vtgraphs/ENGR.jpg" alt="ENGR"></p>

<h3>ENSC</h3>

<p><img src="/assets/images/vtgraphs/ENSC.jpg" alt="ENSC"></p>

<h3>ENT</h3>

<p><img src="/assets/images/vtgraphs/ENT.jpg" alt="ENT"></p>

<h3>ESM</h3>

<p><img src="/assets/images/vtgraphs/ESM.jpg" alt="ESM"></p>

<h3>FA</h3>

<p><img src="/assets/images/vtgraphs/FA.jpg" alt="FA"></p>

<h3>FIN</h3>

<p><img src="/assets/images/vtgraphs/FIN.jpg" alt="FIN"></p>

<h3>FIW</h3>

<p><img src="/assets/images/vtgraphs/FIW.jpg" alt="FIW"></p>

<h3>FL</h3>

<p><img src="/assets/images/vtgraphs/FL.jpg" alt="FL"></p>

<h3>FOR</h3>

<p><img src="/assets/images/vtgraphs/FOR.jpg" alt="FOR"></p>

<h3>FR</h3>

<p><img src="/assets/images/vtgraphs/FR.jpg" alt="FR"></p>

<h3>FST</h3>

<p><img src="/assets/images/vtgraphs/FST.jpg" alt="FST"></p>

<h3>GBCB</h3>

<p><img src="/assets/images/vtgraphs/GBCB.jpg" alt="GBCB"></p>

<h3>GEOG</h3>

<p><img src="/assets/images/vtgraphs/GEOG.jpg" alt="GEOG"></p>

<h3>GEOS</h3>

<p><img src="/assets/images/vtgraphs/GEOS.jpg" alt="GEOS"></p>

<h3>GER</h3>

<p><img src="/assets/images/vtgraphs/GER.jpg" alt="GER"></p>

<h3>GIA</h3>

<p><img src="/assets/images/vtgraphs/GIA.jpg" alt="GIA"></p>

<h3>GRAD</h3>

<p><img src="/assets/images/vtgraphs/GRAD.jpg" alt="GRAD"></p>

<h3>GR</h3>

<p><img src="/assets/images/vtgraphs/GR.jpg" alt="GR"></p>

<h3>HD</h3>

<p><img src="/assets/images/vtgraphs/HD.jpg" alt="HD"></p>

<h3>HEB</h3>

<p><img src="/assets/images/vtgraphs/HEB.jpg" alt="HEB"></p>

<h3>HIST</h3>

<p><img src="/assets/images/vtgraphs/HIST.jpg" alt="HIST"></p>

<h3>HNFE</h3>

<p><img src="/assets/images/vtgraphs/HNFE.jpg" alt="HNFE"></p>

<h3>HORT</h3>

<p><img src="/assets/images/vtgraphs/HORT.jpg" alt="HORT"></p>

<h3>HTM</h3>

<p><img src="/assets/images/vtgraphs/HTM.jpg" alt="HTM"></p>

<h3>HUM</h3>

<p><img src="/assets/images/vtgraphs/HUM.jpg" alt="HUM"></p>

<h3>IDS</h3>

<p><img src="/assets/images/vtgraphs/IDS.jpg" alt="IDS"></p>

<h3>ISC</h3>

<p><img src="/assets/images/vtgraphs/ISC.jpg" alt="ISC"></p>

<h3>IS</h3>

<p><img src="/assets/images/vtgraphs/IS.jpg" alt="IS"></p>

<h3>ITAL</h3>

<p><img src="/assets/images/vtgraphs/ITAL.jpg" alt="ITAL"></p>

<h3>ITDS</h3>

<p><img src="/assets/images/vtgraphs/ITDS.jpg" alt="ITDS"></p>

<h3>JPN</h3>

<p><img src="/assets/images/vtgraphs/JPN.jpg" alt="JPN"></p>

<h3>JUD</h3>

<p><img src="/assets/images/vtgraphs/JUD.jpg" alt="JUD"></p>

<h3>LAHS</h3>

<p><img src="/assets/images/vtgraphs/LAHS.jpg" alt="LAHS"></p>

<h3>LAR</h3>

<p><img src="/assets/images/vtgraphs/LAR.jpg" alt="LAR"></p>

<h3>LAT</h3>

<p><img src="/assets/images/vtgraphs/LAT.jpg" alt="LAT"></p>

<h3>LDRS</h3>

<p><img src="/assets/images/vtgraphs/LDRS.jpg" alt="LDRS"></p>

<h3>MACR</h3>

<p><img src="/assets/images/vtgraphs/MACR.jpg" alt="MACR"></p>

<h3>MATH</h3>

<p><img src="/assets/images/vtgraphs/MATH.jpg" alt="MATH"></p>

<h3>ME</h3>

<p><img src="/assets/images/vtgraphs/ME.jpg" alt="ME"></p>

<h3>MGT</h3>

<p><img src="/assets/images/vtgraphs/MGT.jpg" alt="MGT"></p>

<h3>MINE</h3>

<p><img src="/assets/images/vtgraphs/MINE.jpg" alt="MINE"></p>

<h3>MKTG</h3>

<p><img src="/assets/images/vtgraphs/MKTG.jpg" alt="MKTG"></p>

<h3>MN</h3>

<p><img src="/assets/images/vtgraphs/MN.jpg" alt="MN"></p>

<h3>MSE</h3>

<p><img src="/assets/images/vtgraphs/MSE.jpg" alt="MSE"></p>

<h3>MS</h3>

<p><img src="/assets/images/vtgraphs/MS.jpg" alt="MS"></p>

<h3>MTRG</h3>

<p><img src="/assets/images/vtgraphs/MTRG.jpg" alt="MTRG"></p>

<h3>MUS</h3>

<p><img src="/assets/images/vtgraphs/MUS.jpg" alt="MUS"></p>

<h3>NANO</h3>

<p><img src="/assets/images/vtgraphs/NANO.jpg" alt="NANO"></p>

<h3>NEUR</h3>

<p><img src="/assets/images/vtgraphs/NEUR.jpg" alt="NEUR"></p>

<h3>NR</h3>

<p><img src="/assets/images/vtgraphs/NR.jpg" alt="NR"></p>

<h3>NSEG</h3>

<p><img src="/assets/images/vtgraphs/NSEG.jpg" alt="NSEG"></p>

<h3>PAPA</h3>

<p><img src="/assets/images/vtgraphs/PAPA.jpg" alt="PAPA"></p>

<h3>PHIL</h3>

<p><img src="/assets/images/vtgraphs/PHIL.jpg" alt="PHIL"></p>

<h3>PHS</h3>

<p><img src="/assets/images/vtgraphs/PHS.jpg" alt="PHS"></p>

<h3>PHYS</h3>

<p><img src="/assets/images/vtgraphs/PHYS.jpg" alt="PHYS"></p>

<h3>PORT</h3>

<p><img src="/assets/images/vtgraphs/PORT.jpg" alt="PORT"></p>

<h3>PPWS</h3>

<p><img src="/assets/images/vtgraphs/PPWS.jpg" alt="PPWS"></p>

<h3>PSVP</h3>

<p><img src="/assets/images/vtgraphs/PSVP.jpg" alt="PSVP"></p>

<h3>PSYC</h3>

<p><img src="/assets/images/vtgraphs/PSYC.jpg" alt="PSYC"></p>

<h3>REAL</h3>

<p><img src="/assets/images/vtgraphs/REAL.jpg" alt="REAL"></p>

<h3>RLCL</h3>

<p><img src="/assets/images/vtgraphs/RLCL.jpg" alt="RLCL"></p>

<h3>RTM</h3>

<p><img src="/assets/images/vtgraphs/RTM.jpg" alt="RTM"></p>

<h3>RUS</h3>

<p><img src="/assets/images/vtgraphs/RUS.jpg" alt="RUS"></p>

<h3>SBIO</h3>

<p><img src="/assets/images/vtgraphs/SBIO.jpg" alt="SBIO"></p>

<h3>SOC</h3>

<p><img src="/assets/images/vtgraphs/SOC.jpg" alt="SOC"></p>

<h3>SPAN</h3>

<p><img src="/assets/images/vtgraphs/SPAN.jpg" alt="SPAN"></p>

<h3>SPIA</h3>

<p><img src="/assets/images/vtgraphs/SPIA.jpg" alt="SPIA"></p>

<h3>STL</h3>

<p><img src="/assets/images/vtgraphs/STL.jpg" alt="STL"></p>

<h3>STS</h3>

<p><img src="/assets/images/vtgraphs/STS.jpg" alt="STS"></p>

<h3>SYSB</h3>

<p><img src="/assets/images/vtgraphs/SYSB.jpg" alt="SYSB"></p>

<h3>TA</h3>

<p><img src="/assets/images/vtgraphs/TA.jpg" alt="TA"></p>

<h3>TBMH</h3>

<p><img src="/assets/images/vtgraphs/TBMH.jpg" alt="TBMH"></p>

<h3>UAP</h3>

<p><img src="/assets/images/vtgraphs/UAP.jpg" alt="UAP"></p>

<h3>UH</h3>

<p><img src="/assets/images/vtgraphs/UH.jpg" alt="UH"></p>

<h3>UNIV</h3>

<p><img src="/assets/images/vtgraphs/UNIV.jpg" alt="UNIV"></p>

<h3>VM</h3>

<p><img src="/assets/images/vtgraphs/VM.jpg" alt="VM"></p>

</div>
<div>
    By the way, I'm now on <a href="https://twitter.com/_conorpp">Twitter</a> too if you'd like to follow my interests.
</div>

<footer class="clean" style="background-image: url(/assets/images/default.jpg);height: 75%; min-height: 500px;">
	<div id="nav-icon" style="top: 25px;">
		<a class="scroll" data-speed="1000" href="#article"><span class="genericon genericon-collapse"></span></a>
	</div>
	<div id="post-info">
		<h3>Next up</h3>
		<a href="/blog/How-to-support-PGP-encryption-in-Gmail">
			<h1>How to support PGP encryption in Gmail</h1>
			
		</a>
	</div>
	<p class="copyright">&copy;2015, <a href="/" target="_blank">Conor Patrick</a>. <a href="http://creativecommons.org/licenses/by-nc/2.5" target="_blank"></a>.</p>
</footer>



<script src="/assets/js/smooth-scroll.js"></script>
<div id="disqus_thread"></div>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES * * */
var disqus_shortname = 'conorpp';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


</body>
</html>