---
layout: default
---

	{% include top.html %}

    {% unless page.nocover %}

<header class="clean" style="height: 350px; background-image: url({{ site.cover }});">
</header>
    {% endunless %}

    {% if page.title %}
    <!-- <h1>{{ page.title }}</h1> -->
    {% endif %}

<div id="article" class="content-width content-center padv just">
	{{ content }}
</div>
<footer class="" style="background-position: bottom; height: 60px;">

	<p class="copyright">
        &copy;{{ site.time | date: "%Y" }}, 
        <a href="{{ site.copyright.url }}" target="_blank">{{ site.copyright.author }}</a>.
        <a href="{{ site.copyright.type_url }}" target="_blank">
            {{ site.copyright.type_title }}</a>.
        <a href="https://conorpp.github.io"> Mirror</a>.
    </p>



</footer>
