---
layout: default
article: true
---

<div class="aboutmetop">{% include top.html %}</div>
<div class="category tags" name="category" style="display:none;">

    {% for t in page.tags %}
    <p>{{ t }}</p>
    {% endfor %}
</div>
{% unless page.nocover %}
<div class="rel fillv">
    <header class="clean post-header" style="background-image: url({% if page.image %}{{ page.image }}{% else %}{{ site.cover }}{% endif %});{% if page.background_position %} background-position: {{ page.background_position }};{% endif %}">
        {% if page.video %}
        <video id="bg-video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
            {% if page.video_webm %}<source src="{{ page.video_webm }}" type="video/webm">{% endif %}
            {% if page.video_ogv %}<source src="{{ page.video_ogv }}" type="video/ogg ogv">{% endif %}
            {% if page.video_mp4 %}<source src="{{ page.video_mp4 }}" type="video/mp4">{% endif %}
        </video>
        {% endif %}
    </header>
</div>
{% endunless %}

<div id="article" class="content-center content-width padv just">
    <div class="center">
        <h1 id="title">{{ page.title }}</h1>
        <span class="faint">{{ page.date | date_to_long_string }}</span>
    </div>
        {{ content }}

</div>

{% include JB/signup %}

<br>

{% assign indexed = false %}
{% assign next_post = false %}

{% for post in site.posts %}
    {% unless post.archive %}
            
        {% if post.url == page.url %}
        
            {% assign indexed = true %}
        
        {% else %}
    
            {% if indexed == false %}

                {% assign prev_post = post %}

            {% else %}
            
                {% if next_post == false %}

                    {% assign next_post = post %}

                {% endif %}

            {% endif %}

        {% endif %}

    {% endunless %}
{% endfor %}


{% if next_post %}
    {% assign post = next_post %}
{% elsif prev_post %}
    {% assign post = prev_post %}
{% else %}
    {% assign post = site.posts.first %}
{% endif %}

{% assign first = site.posts.first %}



{% if next_post %}
    <footer class="{% if next_post.dark %}dark{% else %}clean{% endif %} next-up" style="background-image: url({{ next_post.image }})">
        <div id="post-info" class="post-info-top">
            <a href="{{ next_post.url }}">
                <h1 class="">Previous post</h1>
                <h2>{{ next_post.title }}</h2>
            </a>
        </div>
    </footer>
{% endif %}



{% if first != prev_post %}
    {% if first.url != page.url %}
        <footer class="{% if first.dark %}dark{% else %}clean{% endif %} next-up" style="background-image: url({{ first.image }})">
            <div id="post-info" class="post-info-top">
                <a href="{{ first.url }}">
                    <h1 class="">Latest post</h1>
                    <h2>{{ first.title }}</h2>
                </a>
            </div>
        </footer>
    {% endif %}
{% endif %}


{% if prev_post %}
    <footer class="{% if prev_post.dark %}dark{% else %}clean{% endif %} next-up" style="background-image: url({{ prev_post.image }})">
        <div id="post-info" class="post-info-top">
            <a href="{{ prev_post.url }}">
                <h1 class="">Next post</h1>
                <h2>{{ prev_post.title }}</h2>
            </a>
        </div>
    </footer>
{% endif %}



<br>
<footer class="">
<br>

	<p class="copyright">
        &copy;{{ site.time | date: "%Y" }}, 
        <a href="{{ site.copyright.url }}" target="_blank">{{ site.copyright.author }}</a>.
        <a href="{{ site.copyright.type_url }}" target="_blank">
            {{ site.copyright.type_title }}
        </a>.
        <a href="https://conorpp.github.io"> Mirror</a>.
        <a target="_blank" href="https://github.com/conorpp/conorpp.github.com">SOURCE</a>.
    </p>
</footer>


{% if site.disqus %}
    <script src="/assets/js/smooth-scroll.js"></script>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
    var disqus_shortname = '{{site.disqus.username}}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}



<span id="ismobile" class="ismobile"></span>
<script>

(function(){
    setTimeout(function(){
        if (window.scrollY < 10)
        {
            var objDiv = document.getElementById("headertop");
            window.scrollBy(0,objDiv.scrollHeight - window.scrollY - 4);
            console.log("scrolled?", objDiv.scrollHeight);
        }
    },6);
})();

</script>
